.css {
	font-size: 12px;
}
.white-12 {
	font-size: 12px;
	text-decoration: none;
	color: #000000;

}
.blue-12 {
	font-size: 12px;
	color: #003366;
	text-decoration: none;
}
.red-12 {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.ha-28 {
	font-size: 12px;
	line-height: 28px;
	text-decoration: none;
}
.line-12 {
	font-size: 12px;
	text-decoration: underline;
}
.pt16cu {
	font-size: 24px;
	font-weight: bolder;

}
.biaoge {
	font-size: 14px;
	font-weight: bold;
	margin: auto;
	padding: 1px;
	color: #0000CC;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	clip:   rect(auto auto auto auto);
	background-color: #FFFFFF;
	border: 1px 1 #996600;
}

body {
	margin-left: 2px;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 0px;
}

/****************
author:huangyp
date:20050512
function:输入表单头
****************/
.table_title_td { font-size:12px;background-color: #F2D6D5;height: 20px;text-align:center;}

.bg_yellow { 
	background-color: #FFFAE6;
	height: 20px;
	font-size: 12px;
	font-weight: normal;
	color: #000099;
	text-decoration: none;
	}

/****************
author:huangyp
date:20050512
function:输入表单输入项内容
****************/
.input_content_td {	
	background-color: #F2F2F2;
	height:24px;
	vertical-align:right;
	font-size:12px;
}

.menu1 {
	font-size: 12px;
	text-decoration: none;
	color: #000000;

}
.menu2 {
	font-size: 12px;
	text-decoration: none;
	color: #000000;

}
.menu3 {
	font-size: 12px;
	text-decoration: none;
	color: #000000;

}


.menu1_catched {
	font-size: 12px;
	text-decoration: none;
	color: #ff0000;

}
.menu2_catched {
	font-size: 12px;
	text-decoration: none;
	color: #ff0000;

}
.menu3_catched {
	font-size: 12px;
	text-decoration: none;
	color: #ff0000;

}
/************
add fx title
************/
.fxtitle {
	font-size: 12px; 
	font-family: Arial;
	text-decoration: none;
	width:300;
	height:23;
	color: #000000;
	vertical-align: middle;
	background-image: url(/personbank/images/fx_title.gif)
}
/**
*  用于保存fx数据域
**/
.disabledInput {border:0px none #FCF5F5;background:#FCF5F5;color:black;}
